body {
    background-color: #2E2D4D;
    margin: 0;
}

#wrapper {
    color: white;
    font-family: 'Akimo', sans-serif;
    margin: 1em;
    text-align: center;
}

hr {
    border: 1px solid #56E39F;
    width: 90%; 
}

/* -------------------------------------------------
[Headings]
------------------------------------------------- */

#title {
    font-size: 2.5em;
}

#blurb {
    font-size: 1.1em;
}

.box_title {
    font-size: 1.8em;
    padding: 0 0.8em;
    text-align: left;
}

/* -------------------------------------------------
[Projects]
------------------------------------------------- */

#projects {
    background-color: #59C9A5;
    border: 5px solid #56E39F;
    height: 100%;
    margin: 3em 0;
}

.project_item {
    margin: 0 1.5em 2.5em;
}

#projects h2, #projects p {
    text-align: left;
}

#projects h2 {
    font-size: 1.4em;
    margin-bottom: 0.3em;
}

#projects p {
    margin-top: 0;
}

/* -------------------------------------------------
[Contact]
------------------------------------------------- */

#contact {
    background-color: #CB48B7;
    border: 5px solid #E070CF;
}

#contact li {
    list-style: none;
    padding: 0.5em 0;
}

#contact a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
}

/* -------------------------------------------------
[Animations]
------------------------------------------------- */

.underline_animation {
    background-image: linear-gradient(120deg, #fa84a7 0%, #dc8ff4 100%);
    background-position: 0 88%;
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    padding: 0.5em;
    transition: background-size 0.25s ease-in;
}

.underline_animation:hover {
    background-size: 100% 88%;
}

/* -------------------------------------------------
[CSS for Desktops]
------------------------------------------------- */

@media only screen and (min-width: 600px) {
    #wrapper {
        margin: 0 5em;
    }

    #title {
        font-size: 2.5em;
    }

    #blurb {
        font-size: 1.2em;
    }

    #projects h1, #contact h1 {
        font-size: 1.8em;
    }

    #projects {
        height: 100%;
    }

    #contact li {
        display: inline-block;
        padding: 0 2em;
    }

    .underline_animation {
        background-size: 100% 0.2em;
    }
}