body {
    background-color: #2E2D4D;
    margin: 0;
}

#wrapper {
    color: white;
    font-family: 'Akimo', sans-serif;
    margin: 1em;
    text-align: center;
}

hr {
    border: 1px solid #56E39F;
    width: 90%; 
}

/* -------------------------------------------------
[Headings]
------------------------------------------------- */

#title {
    font-size: 2.5em;
}

#blurb {
    font-size: 1.5em;
}

.box_title {
    font-size: 1.8em;
    padding: 0 0.8em;
    text-align: left;
}

/* -------------------------------------------------
[Projects]
------------------------------------------------- */

#projects {
    background-color: #59C9A5;
    border: 5px solid #56E39F;
    height: 100%;
    margin: 3em 0;
}

.project_item {
    margin: 1.5em 1.5em 2.5em;
}

.project_link {
    text-decoration: none;
    color: white;
}

.project_link:hover {
    text-decoration: underline;
}

.project_skills {
    font-size: 0.8em;
    text-align: left;
}

.project_skills span {
    background-color: #56E39F;
    margin: 0.5em 1em 0 0;
    padding: 0.55em;
    display: inline-block;
}

#projects h2, #projects p {
    text-align: left;
}

#projects h2 {
    font-size: 1.4em;
    margin: 0 0 0.3em;
}

#projects p {
    margin: 0 0 0.4em;
}

/* -------------------------------------------------
[Contact]
------------------------------------------------- */

/* #contact {
    background-color: #CB48B7;
    border: 5px solid #E070CF;
}

#contact li {
    list-style: none;
    padding: 0.5em 0;
}

#contact a {
    color: white;
    font-size: 1.1em;
    text-decoration: none;
} */

/* -------------------------------------------------
[Animations]
------------------------------------------------- */

/* .underline_animation {
    background-image: linear-gradient(120deg, #fa84a7 0%, #dc8ff4 100%);
    background-position: 0 88%;
    background-repeat: no-repeat;
    background-size: 100% 0.1em;
    padding: 0.5em;
    transition: background-size 0.25s ease-in;
}

.underline_animation:hover {
    background-size: 100% 88%;
} */

/* ////////////////////////////////////////// */

.bx {
    color: #ffffff;
}

#contacts ul {
    text-align: center;
    padding: 0;
    margin: 0;
}

#contacts li {
    display: inline-block;
    padding: 2.5em;
}

#contacts i {
    transition: 0.3s color;
}

#contacts i:hover {
    color: #E070CF;
}

#profile {
    height: 100vh; 
    text-align: left;
}

#profile-child {
    padding: 3.5em 1.5em;
}


/* -------------------------------------------------
[CSS for Desktops]
------------------------------------------------- */

@media only screen and (min-width: 600px) {
    #wrapper {
        margin: 0 5em;
    }

    #title {
        font-size: 2.5em;
        padding-top: 9em; 
        margin: 0;
    }

    #blurb {
        font-size: 1.2em;
    }

    #projects h1, #contact h1 {
        font-size: 1.8em;
    }

    #projects {
        height: 85vh;
    }

    #profile {
        text-align: right;
    }

    #profile-child {
        width: 49%; 
        float: right;
        text-align: left;
    }

    #contacts li {
        float: left;
        padding: 3em 0 0 4.5em;
    }

    /* #contact li {
        display: inline-block;
        padding: 0 2em;
    }

    .underline_animation {
        background-size: 100% 0.2em;
    } */
}

@media only screen and (min-width: 1400px) {
    #wrapper {
        margin: 0 10em;
    }

    #title {
        font-size: 3em;
        padding-top: 7.5em; 
    }

    #blurb {
        font-size: 2em;
    }


    #contacts li {
        float: left;
        padding: 3em 0 0 5em;
    }
}

